/* start aboutus section */
#aboutus{
  overflow: hidden;
}
.aboutus-head-title h5 i {
  font-size: 32px;
  vertical-align: -6px;
}
.aboutus-head-title h5 span {
  font-size: 26px;
}
.aboutus-left-side {
  background-color: rgb(38, 190, 139);
  color: aliceblue;
  padding: 30px;
}
.aboutus-left-side span {
  font-size: 30px;
  font-family: nazanin;
  border-bottom: 1px solid rgb(71, 124, 221);
}
.aboutus-left-side p {
  font-size: 24px;
  font-family: vazir;
  padding-top: 26px;
}
/* .aboutus-right-side {
} */
.wallpaper-aboutus {
  width: 100%;
  max-height: 90vh;
  /* padding-left: 12px; */
}
/* end aboutus section */
